[Desktop Entry]
Encoding=UTF-8
Name=Neoxa Core
Comment=Connect to the Neoxa P2P Network
Comment[de]=Verbinde mit dem Neoxa peer-to-peer Netzwerk
Comment[fr]=Neoxa, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Neoxa, eşten eşe kriptografik sanal para birimi
Exec=neoxa-qt %u
Terminal=false
Type=Application
Icon=neoxa128
MimeType=x-scheme-handler/neoxa;
Categories=Office;Finance;
