*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/neoxa
src/neoxad
src/neoxa-cli
src/neoxa-tx
src/test/test_neoxa
src/test/test_neoxa_fuzzy
src/qt/test/test_neoxa-qt
src/qt/res/css/colors/*
src/bench/bench_neoxa

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/neoxa-config.h
src/config/neoxa-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
neoxa-qt
neoxa-Qt.app
background.tiff*
!/depends/Makefile

# Unit-tests
Makefile.test
neoxa-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build
*.dSYM

#lcov
*.gcno
*.gcda
/*.info
test_neoxa.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libneoxaconsensus.pc
contrib/devtools/split-debug.sh
src/qt/neoxa-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
neoxa-cli
neoxad
neoxa-qt
make

/docker/bin

# CLion
.idea
cmake-build-debug

depends/built
depends/x86_64-pc-linux-gnu
depends/sdk-sources/
dist/
*.conf
.settings/language.settings.xml

/neoxa.iml
/testnet3_binary/
/testnet4/
