
## <summary>policy for neoxa</summary>


########################################
## <summary>
##	Transition to neoxa.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`neoxa_domtrans',`
	gen_require(`
		type neoxa_t, neoxa_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, neoxa_exec_t, neoxa_t)
')


########################################
## <summary>
##	Execute neoxa server in the neoxa domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neoxa_initrc_domtrans',`
	gen_require(`
		type neoxa_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, neoxa_initrc_exec_t)
')


########################################
## <summary>
##	Search neoxa lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neoxa_search_lib',`
	gen_require(`
		type neoxa_var_lib_t;
	')

	allow $1 neoxa_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read neoxa lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neoxa_read_lib_files',`
	gen_require(`
		type neoxa_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, neoxa_var_lib_t, neoxa_var_lib_t)
')

########################################
## <summary>
##	Manage neoxa lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neoxa_manage_lib_files',`
	gen_require(`
		type neoxa_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, neoxa_var_lib_t, neoxa_var_lib_t)
')

########################################
## <summary>
##	Manage neoxa lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neoxa_manage_lib_dirs',`
	gen_require(`
		type neoxa_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, neoxa_var_lib_t, neoxa_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a neoxa environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`neoxa_admin',`
	gen_require(`
		type neoxa_t;
		type neoxa_initrc_exec_t;
		type neoxa_var_lib_t;
	')

	allow $1 neoxa_t:process { ptrace signal_perms };
	ps_process_pattern($1, neoxa_t)

	neoxa_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 neoxa_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, neoxa_var_lib_t)

')

